In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk2-task3-aqi.ipynb")

# Task 3: Visualizing AQI during the 2017 Thomas Fire in Santa Barbara County

This task covers topics on the lesson on [time series](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-7-time-series.html). 

## Instructions 

- First, update the following cell to have a link to *your* Homework 2 GitHub repository:

**UPDATE THIS LINK**
https://github.com/IsabellaSegarra/eds220-hwk2


- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits. Generally, commit every time you finish a major step.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.


## About the data

In this task you will use [Air Quality Index (AQI)](https://www.airnow.gov/aqi/aqi-basics/) data from the [US Environmental Protection Agency](https://www.epa.gov) to visualize the impact on the AQI of the 2017 [Thomas Fire](https://en.wikipedia.org/wiki/Thomas_Fire) in Santa Barbara County.

## FINAL CODE

You will use the next code cell to complete the last exercise in the task. Leave it blank for now.

## 1

a. Read the [Air Quality Index (AQI) Basics](https://www.airnow.gov/aqi/aqi-basics/) from the AirNow.gov portal.

b. Go to [EPA's website on Air Quality Data Collected at Outdoor Monitors Across the US](https://www.epa.gov/outdoor-air-quality-data).

c. Under "Donwload Data", click on "Pre-generated Data Files".

d. Read the "About the data" section.

## 2
a. Back in the "Pre-generated Data Files" site, click on "Tables of Daily AQI".

b. Copy the URL to the 2017 Daily AQI **by County** ZIP file `daily_aqi_by_county_2017.zip`

Notice we'll be reding the data directly from its ZIP file link. This ZIP file contains a single CSV that has been compressed to save space.

<!-- BEGIN QUESTION -->

c. In the next code cell read in the data from the URL using the [`pd.read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function with the `compression='zip'` parameter added and store it as `aqi_17`. 

d. In the same cell, read in the data for the 2018 Daily AQI by County ZIP file and store it as `aqi_18`.

In [2]:
# Import the necessary packages 

import pandas as pd

In [3]:
# Read in data

# Copy link for 'aqi_17' and read as a csv, specifying the compression = 'zip' argument to unzip the csv 
# from the zip folder.
URL_aqi_17 = 'https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_2017.zip'
aqi_17 = pd.read_csv(URL_aqi_17, compression = 'zip')

# Copy link for 'aqi_18' and read as a csv, specifying the compression = 'zip' argument to unzip the csv 
# from the zip folder.
URL_aqi_18 = 'https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_2018.zip'
aqi_18 = pd.read_csv(URL_aqi_18, compression = 'zip')

<!-- END QUESTION -->

## 3
a. and b. Use the next two code cells to look at the head of both data frames. Store your results in `aqi_17_head` and `aqi_18_head`.

In [4]:
# a.
aqi_17_head = aqi_17.head()

In [5]:
aqi_17_head

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2017-01-01,28,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2017-01-04,29,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2017-01-10,25,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2017-01-13,40,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2017-01-16,22,Good,PM2.5,01-003-0010,1

In [6]:
# b.
aqi_18_head = aqi_18.head()

In [7]:
aqi_18_head

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2018-01-02,42,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2018-01-05,45,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2018-01-08,20,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2018-01-11,25,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2018-01-14,33,Good,PM2.5,01-003-0010,1

In [8]:
grader.check("q3_a")

q3_a results: All test cases passed!

<!-- BEGIN QUESTION -->

c. Use this code cell to make some other preliminary data exploration of your choosing.

In [9]:
# Preliminary data explore: 'aqi_17' 
print(aqi_17.shape) # View the number of rows and columns of the data
print(aqi_17.info()) # View the non-null count and data types of each column 
print(aqi_17.columns) # View the column names 
print(aqi_17.nunique()) # View unique values in each column

(326801, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326801 entries, 0 to 326800
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 326801 non-null  object
 1   county Name                326801 non-null  object
 2   State Code                 326801 non-null  int64
 3   County Code                326801 non-null  int64
 4   Date                       326801 non-null  object
 5   AQI                        326801 non-null  int64
 6   Category                   326801 non-null  object
 7   Defining Parameter         326801 non-null  object
 8   Defining Site              326801 non-null  object
 9   Number of Sites Reporting  326801 non-null  int64
dtypes: int64(4), object(6)
memory usage: 24.9+ MB
None
Index(['State Name', 'county Name', 'State Code', 'County Code', 'Date', 'AQI',
       'Category', 'Defining Parameter', 'Defining Site',
       'Number of Sites Reporting'],
      dtype='object')
State Name                     54
county Name                   796
State Code                     54
County Code                   160
Date                          365
AQI                           341
Category                        6
Defining Parameter              5
Defining Site                2133
Number of Sites Reporting      35
dtype: int64

In [10]:
# Preliminary data explore: 'aqi_18' 
print(aqi_18.shape) # View the number of rows and columns of the data
print(aqi_18.info()) # View the non-null count and data types of each column 
print(aqi_18.columns) # View the column names 
print(aqi_18.nunique()) # View unique values in each column

(327541, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327541 entries, 0 to 327540
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 327541 non-null  object
 1   county Name                327541 non-null  object
 2   State Code                 327541 non-null  int64
 3   County Code                327541 non-null  int64
 4   Date                       327541 non-null  object
 5   AQI                        327541 non-null  int64
 6   Category                   327541 non-null  object
 7   Defining Parameter         327541 non-null  object
 8   Defining Site              327541 non-null  object
 9   Number of Sites Reporting  327541 non-null  int64
dtypes: int64(4), object(6)
memory usage: 25.0+ MB
None
Index(['State Name', 'county Name', 'State Code', 'County Code', 'Date', 'AQI',
       'Category', 'Defining Parameter', 'Defining Site',
       'Number of Sites Reporting'],
      dtype='object')
State Name                     54
county Name                   793
State Code                     54
County Code                   160
Date                          365
AQI                           300
Category                        6
Defining Parameter              5
Defining Site                2105
Number of Sites Reporting      35
dtype: int64

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

d. Use this markdown cell to explain why you decided to do the exploration in c. and what information you obtained from doing it.

In the cell above, I

<!-- END QUESTION -->

## 4
We currently have two separate data frames. For this exercise we will need to "glue" them one on top of the other. The `pandas` function `pd.concat()` can achieve this. 

Pass `[aqi_17, aqi_18]` as the input of `pd.concat()` and store the output as  `aqi`.  
In the next line run `aqi`.

NOTE: When we concatenate data frames like this, without any extra parameters for `pd.concat()` the indices for the two dataframes are just "glued together", the index of the resulting dataframe is not updated to start from 0. Notice the mismatch between the index of `aqi` and the number of rows i the complete data frame.

In [11]:
aqi = pd.concat([aqi_17,aqi_18])
aqi

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2017-01-01,28,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2017-01-04,29,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2017-01-10,25,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2017-01-13,40,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2017-01-16,22,Good,PM2.5,01-003-0010,1
...,...,...,...,...,...,...,...,...,...,...
327536,Wyoming,Weston,56,45,2018-12-27,36,Good,Ozone,56-045-0003,1
327537,Wyoming,Weston,56,45,2018-12-28,35,Good,Ozone,56-045-0003,1
327538,Wyoming,Weston,56,45,2018-12-29,35,Good,Ozone,56-045-0003,1
327539,Wyoming,Weston,56,45,2018-12-30,31,Good,Ozone,56-045-0003,1
327540,Wyoming,Weston,56,45,2018-12-31,35,Good,Ozone,56-045-0003,1

In [12]:
grader.check("q4")

q4 results: All test cases passed!

<!-- BEGIN QUESTION -->

## 5

Run the following code cell and use the next markdown cell to give a line by line explanation of the code below the comment "#Simplify column names". You might need to look up the `pandas` documentation.

In [13]:
# Initial column names: notice caps and spaces (difficult to work with!)
print(aqi.columns, '\n')

# Simplify column names
aqi.columns = (aqi.columns
                  .str.lower()
                  .str.replace(' ','_')
                )
print(aqi.columns, '\n')

Index(['State Name', 'county Name', 'State Code', 'County Code', 'Date', 'AQI',
       'Category', 'Defining Parameter', 'Defining Site',
       'Number of Sites Reporting'],
      dtype='object')

Index(['state_name', 'county_name', 'state_code', 'county_code', 'date', 'aqi',
       'category', 'defining_parameter', 'defining_site',
       'number_of_sites_reporting'],
      dtype='object')

In [14]:
print(aqi.columns, '\n')

Index(['state_name', 'county_name', 'state_code', 'county_code', 'date', 'aqi',
       'category', 'defining_parameter', 'defining_site',
       'number_of_sites_reporting'],
      dtype='object')

In the code chunk above, we first printed the columns that contain and '_'

<!-- END QUESTION -->

## 6
In the next code cell:

a. Select only data from `Santa Barbara` county and store it in a new variable `aqi_sb`.

b. Remove the `state_name`, `county_name`, `state_code` and `county_code` columns from `aqi_sb`.

Your dataframe should have the following columns in this order: `date`, `aqi`, `category`, `defining_parameter`, `defining_stie`, `number_of_sites_reporting`.

In [15]:
# state_name, county_name 


aqi[(aqi['state_name'] == 'California') & (aqi['county_name'] == 'Santa Barbara')]

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
28648,California,Santa Barbara,6,83,2017-01-01,39,Good,Ozone,06-083-4003,12
28649,California,Santa Barbara,6,83,2017-01-02,39,Good,PM2.5,06-083-2011,11
28650,California,Santa Barbara,6,83,2017-01-03,71,Moderate,PM10,06-083-4003,12
28651,California,Santa Barbara,6,83,2017-01-04,34,Good,Ozone,06-083-4003,13
28652,California,Santa Barbara,6,83,2017-01-05,37,Good,Ozone,06-083-4003,12
...,...,...,...,...,...,...,...,...,...,...
29128,California,Santa Barbara,6,83,2018-12-27,37,Good,Ozone,06-083-1025,11
29129,California,Santa Barbara,6,83,2018-12-28,39,Good,Ozone,06-083-1021,12
29130,California,Santa Barbara,6,83,2018-12-29,39,Good,Ozone,06-083-1021,12
29131,California,Santa Barbara,6,83,2018-12-30,41,Good,PM2.5,06-083-1008,12
29132,California,Santa Barbara,6,83,2018-12-31,38,Good,Ozone,06-083-2004,12

In [16]:
# Filter the dataset for only data from Santa Barbara 
aqi_sb = aqi[(aqi['state_name'] == 'California') & (aqi['county_name'] == 'Santa Barbara')]
# Remove the state_name, county_name, state_code and county_code columns from aqi_sb.
aqi_sb = aqi.drop(columns = ['state_name', 'county_name', 'state_code', 'county_code'])
aqi_sb

,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,2017-01-01,28,Good,PM2.5,01-003-0010,1
1,2017-01-04,29,Good,PM2.5,01-003-0010,1
2,2017-01-10,25,Good,PM2.5,01-003-0010,1
3,2017-01-13,40,Good,PM2.5,01-003-0010,1
4,2017-01-16,22,Good,PM2.5,01-003-0010,1
...,...,...,...,...,...,...
327536,2018-12-27,36,Good,Ozone,56-045-0003,1
327537,2018-12-28,35,Good,Ozone,56-045-0003,1
327538,2018-12-29,35,Good,Ozone,56-045-0003,1
327539,2018-12-30,31,Good,Ozone,56-045-0003,1
327540,2018-12-31,35,Good,Ozone,56-045-0003,1

In [17]:
grader.check("q6a")

q6a results: All test cases passed!

 
c. What is the data type of the `date` column? Write your answer in the markdown cell below.

*Your answer here.*

In [18]:
aqi_sb.dtypes

date                         object
aqi                           int64
category                     object
defining_parameter           object
defining_site                object
number_of_sites_reporting     int64
dtype: object

The 'date' column in the 'aqi_sb' dataset is an object data type.

<!-- BEGIN QUESTION -->

## 7
In the following cell:
1. Update the date column of `aqi_sb` to be a `pandas.datetime` object.
2. Update the index of `aqi_sb` to be the `date` column.

In [19]:
aqi_sb.date = pd.to_datetime(aqi_sb['date'])

In [20]:
aqi_sb.dtypes

date                         datetime64[ns]
aqi                                   int64
category                             object
defining_parameter                   object
defining_site                        object
number_of_sites_reporting             int64
dtype: object

In [31]:
# Convert to 'datetime' object with 'pd.to_datetime' 
aqi_sb.date = pd.to_datetime(aqi_sb['date'])

# Update index of 'aqi_sb' to 'date' column with 'set_index()' function
aqi_sb = aqi_sb.set_index('date')
aqi_sb

KeyError: 'date'

<!-- END QUESTION -->

## 8
In the next cell we will calculate an average over a [rolling window](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rolling.html) using the `rolling()`method for `pandas.Series`:

- `rolling()` is a lazy method, so we need to specify what we want to calculate over each window before it does something. 
- in this example we use the aggregator function `mean()` to calculate the average over each window
- the parameter '5D' indicates we want the window for our rolling average to be 5 days. 
- we get a `pandas.Series` as ouput

Store your answer in the `rolling_average` variable. You should have two columns in your series, `date` and the averages.

In [22]:
aqi_sb['aqi'].rolling('5D').mean()

date
2017-01-01    28.000000
2017-01-01    30.500000
2017-01-01    29.666667
2017-01-01    25.000000
2017-01-01    25.800000
                ...
2018-12-31    35.304875
2018-12-31    35.309005
2018-12-31    35.308187
2018-12-31    35.316766
2018-12-31    35.316687
Name: aqi, Length: 654342, dtype: float64

In [32]:
#aqi_sb.rolling('5D', on='aqi').mean()

#aqi_sb.rolling('5D', on='date')['aqi'].mean()
aqi_sb['aqi'].rolling('5D').mean()

date
2017-01-01    28.000000
2017-01-01    30.500000
2017-01-01    29.666667
2017-01-01    25.000000
2017-01-01    25.800000
                ...
2018-12-31    35.304875
2018-12-31    35.309005
2018-12-31    35.308187
2018-12-31    35.316766
2018-12-31    35.316687
Name: aqi, Length: 654342, dtype: float64

In [33]:
# Calculate AQI rolling average over 5 days
rolling_average = aqi_sb['aqi'].rolling('5D').mean()
rolling_average

date
2017-01-01    28.000000
2017-01-01    30.500000
2017-01-01    29.666667
2017-01-01    25.000000
2017-01-01    25.800000
                ...
2018-12-31    35.304875
2018-12-31    35.309005
2018-12-31    35.308187
2018-12-31    35.316766
2018-12-31    35.316687
Name: aqi, Length: 654342, dtype: float64

In [34]:
grader.check("q8")

q8 results:
    q8 - 1 result:
        âŒ Test case failed
        Trying:
            pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
        Expecting nothing
        **********************************************************************
        Line 1, in q8 0
        Failed example:
            pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
        Exception raised:
            Traceback (most recent call last):
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q8 0[0]>", line 1, in <module>
                pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 1218, in assert_frame_equal
                raise_assert_detail(
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 614, in raise_assert_detail
                raise AssertionError(msg)
            AssertionError: DataFrame are different

            DataFrame shape mismatch
            [left]:  (730, 1)
            [right]: (654342, 1)

## 9 

Without creating any new variables, add the mean of the AQI over a 5-day rolling window as a new column named `five_day_average` to the `aqi_sb` dataframe.

In [26]:
aqi_sb

,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
date,,,,,
2017-01-01,28,Good,PM2.5,01-003-0010,1
2017-01-01,33,Good,PM2.5,37-105-0002,1
2017-01-01,28,Good,PM2.5,22-017-0008,2
2017-01-01,11,Good,PM10,29-097-0003,1
2017-01-01,29,Good,Ozone,42-091-0013,1
...,...,...,...,...,...
2018-12-31,42,Good,PM2.5,25-005-1004,2
2018-12-31,52,Moderate,PM2.5,25-003-6001,3
2018-12-31,32,Good,Ozone,25-001-0002,1
2018-12-31,70,Moderate,PM2.5,25-011-2005,1
2018-12-31,35,Good,Ozone,56-045-0003,1

In [27]:
grader.check("q9")

q9 results:
    q9 - 1 result:
        âŒ Test case failed
        Trying:
            def test_q9(aqi_sb):
                try:
                    expected_data = pd.read_csv('data/t3_q9_df.csv', index_col='date', parse_dates=True)
                    pd.testing.assert_frame_equal(expected_data, aqi_sb)
                except AssertionError:
                    raise AssertionError('Incorrect answer.')
        Expecting nothing
        ok
        Trying:
            test_q9(aqi_sb)
        Expecting nothing
        **********************************************************************
        Line 7, in q9 0
        Failed example:
            test_q9(aqi_sb)
        Exception raised:
            Traceback (most recent call last):
              File "<doctest q9 0[0]>", line 4, in test_q9
                pd.testing.assert_frame_equal(expected_data, aqi_sb)
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 1218, in assert_frame_equal
                raise_assert_detail(
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 614, in raise_assert_detail
                raise AssertionError(msg)
            AssertionError: DataFrame are different

            DataFrame shape mismatch
            [left]:  (730, 6)
            [right]: (654342, 5)

            During handling of the above exception, another exception occurred:

            Traceback (most recent call last):
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q9 0[1]>", line 1, in <module>
                test_q9(aqi_sb)
              File "<doctest q9 0[0]>", line 6, in test_q9
                raise AssertionError('Incorrect answer.')
            AssertionError: Incorrect answer.

<!-- BEGIN QUESTION -->

## 10
Make a line plot showing both the daily AQI and the 5-day average (5-day average on top of the AQI). Make necessary updates for the plot to be accurate, informative, and polished, even if simple. You're welcome to use plotting methods and packages beyond what we have covered in class! 

Can you see the AQI going up during the Thomas Fire in December 2017?

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [28]:
grader.check_all()

q3_a results: All test cases passed!

q4 results: All test cases passed!

q6a results: All test cases passed!

q8 results:
    q8 - 1 result:
        âŒ Test case failed
        Trying:
            pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
        Expecting nothing
        **********************************************************************
        Line 1, in q8 0
        Failed example:
            pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
        Exception raised:
            Traceback (most recent call last):
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q8 0[0]>", line 1, in <module>
                pd.testing.assert_frame_equal(pd.read_csv('data/t3_q8_df.csv', index_col='date', parse_dates=True), pd.DataFrame(rolling_average))
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 1218, in assert_frame_equal
                raise_assert_detail(
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 614, in raise_assert_detail
                raise AssertionError(msg)
            AssertionError: DataFrame are different

            DataFrame shape mismatch
            [left]:  (730, 1)
            [right]: (654342, 1)

q9 results:
    q9 - 1 result:
        âŒ Test case failed
        Trying:
            def test_q9(aqi_sb):
                try:
                    expected_data = pd.read_csv('data/t3_q9_df.csv', index_col='date', parse_dates=True)
                    pd.testing.assert_frame_equal(expected_data, aqi_sb)
                except AssertionError:
                    raise AssertionError('Incorrect answer.')
        Expecting nothing
        ok
        Trying:
            test_q9(aqi_sb)
        Expecting nothing
        **********************************************************************
        Line 7, in q9 0
        Failed example:
            test_q9(aqi_sb)
        Exception raised:
            Traceback (most recent call last):
              File "<doctest q9 0[0]>", line 4, in test_q9
                pd.testing.assert_frame_equal(expected_data, aqi_sb)
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 1218, in assert_frame_equal
                raise_assert_detail(
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/_testing/asserters.py", line 614, in raise_assert_detail
                raise AssertionError(msg)
            AssertionError: DataFrame are different

            DataFrame shape mismatch
            [left]:  (730, 6)
            [right]: (654342, 5)

            During handling of the above exception, another exception occurred:

            Traceback (most recent call last):
              File "/opt/anaconda3/envs/eds220-env/lib/python3.11/doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q9 0[1]>", line 1, in <module>
                test_q9(aqi_sb)
              File "<doctest q9 0[0]>", line 6, in test_q9
                raise AssertionError('Incorrect answer.')
            AssertionError: Incorrect answer.

<!-- END QUESTION -->

## 11


Collect all the relevant code into the first blank cell of the notebook titled "COMPLETE WORKFLOW". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. Further guidance on what to include in this final workflow is in the [assignment rubric](https://docs.google.com/document/d/1x0BoU6IH4cnOR1-n7i9CYQ9wUC37yDpYlQ4j6rCfcsU/edit?tab=t.0).